workflow/AJUSTACONTATO.json
{
  "name": "AJUSTACONTATO",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $('Webhook').item.json.body.phone_number }}",
              "operation": "largerEqual"
            }
          ]
        }
      },
      "id": "fde784c0-6c91-49db-b1e4-196886f400ed",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        500,
        800
      ]
    },
    {
      "parameters": {},
      "id": "2aabdab6-4514-4635-8433-c1ec03a416af",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        800,
        900
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Nome",
              "value": "={{ $json.body.name }}"
            }
          ],
          "number": [
            {
              "name": "Numero de Telefone",
              "value": "={{ $json.body.identifier }}"
            }
          ]
        },
        "options": {}
      },
      "id": "acd82981-4aca-4a6f-85c5-5a22e110afb7",
      "name": "Coloque Informações",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        20,
        800
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Numero",
              "value": "={{ $json['Numero de Telefone'].replace(/[\\D]/gi, \"\").replace(/^55/, \"\")}}"
            }
          ]
        },
        "options": {}
      },
      "id": "595bc116-fc94-4a35-81db-65cbaa020c80",
      "name": "Ajusta numero de Telefone",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        260,
        800
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "contato",
        "options": {}
      },
      "id": "2ef73c02-edea-4c19-a689-49f462bce1f0",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -220,
        800
      ],
      "webhookId": "4983a2f9-6d83-40d8-a451-04a56535e8d9"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "contacts",
          "mode": "list",
          "cachedResultName": "contacts"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id",
        "valueToMatchOn": "={{ $('Webhook').item.json.body.id }}",
        "valuesToSend": {
          "values": [
            {
              "column": "phone_number",
              "value": "=+55{{ $json.Numero }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ac9f027a-e2de-4d4a-a92f-d498e5eaffef",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [
        800,
        620
      ],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "IF": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coloque Informações": {
      "main": [
        [
          {
            "node": "Ajusta numero de Telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ajusta numero de Telefone": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Coloque Informações",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "timezone": "America/Sao_Paulo",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "1014"
  },
  "versionId": "55340d3a-377d-48d2-9035-ee049351197b",
  "id": "1023",
  "meta": {
    "instanceId": "0ae293448e22105e42fd857bc429864d684dc8e031ab307b2ed97c4a1f24397f"
  },
  "tags": [
    {
      "createdAt": "2023-07-29T07:22:53.190Z",
      "updatedAt": "2023-07-29T07:22:53.190Z",
      "id": "5",
      "name": "CWmkt"
    },
    {
      "createdAt": "2023-07-28T22:09:42.733Z",
      "updatedAt": "2023-07-28T22:09:42.733Z",
      "id": "2",
      "name": "CHATWOOT"
    }
  ]
}