workflow/CWmktToChatwootProfile.json
{
  "name": "CWmktToChatwootProfile",
  "nodes": [
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome"
            }
          ]
        },
        "options": {}
      },
      "id": "63c1ec12-4cd0-4a19-961e-964944096689",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        820,
        540
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:3000/api/v1/accounts/{{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"messages\"][\"0\"][\"account_id\"] }}/conversations/{{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"messages\"][\"0\"][\"conversation_id\"] }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $('Informa UToken').item.json.utoken }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=Perfil atualizado com Sucesso\n\n"
            },
            {
              "name": "message_type",
              "value": "incoming"
            },
            {
              "name": "private",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "ab1651f4-1174-4b45-bb1a-3b24f99c9476",
      "name": "/updateprofile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1260,
        540
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "profile",
        "options": {}
      },
      "id": "4e9aa812-ff74-4a20-98e3-d42f93e713b1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        380,
        540
      ],
      "webhookId": "69685989-7c4a-4eaa-9c89-d7ea6c91a97a"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT \"access_tokens\".\"token\" AS \"utoken\" FROM \"account_users\" INNER JOIN \"access_tokens\" ON \"access_tokens\".\"owner_id\" = \"account_users\".\"user_id\" WHERE \"account_users\".\"account_id\" = {{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"messages\"][\"0\"][\"account_id\"] }} AND \"access_tokens\".\"owner_type\" = 'User' AND \"account_users\".\"role\" = 1 ORDER BY \"account_users\".\"id\" LIMIT 1;",
        "additionalFields": {}
      },
      "id": "8c96895c-4e01-422a-9359-4490d5d07a6e",
      "name": "Informa UToken",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        600,
        540
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id",
        "valueToMatchOn": "={{ $('Webhook').item.json.body.messages[0].sender_id }}",
        "valuesToSend": {
          "values": [
            {
              "column": "name",
              "value": "={{ $item(\"0\").$node[\"Set\"].json[\"Nome\"] }}"
            },
            {
              "column": "display_name",
              "value": "={{ $item(\"0\").$node[\"Set\"].json[\"Nome\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "173da62a-60e0-4d48-9cda-e3a337d33664",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [
        1040,
        540
      ],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Set": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Informa UToken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Informa UToken": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "/updateprofile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "265efec2-a9de-41aa-b623-229430f88455",
  "id": "1021",
  "meta": {
    "instanceId": "0ae293448e22105e42fd857bc429864d684dc8e031ab307b2ed97c4a1f24397f"
  },
  "tags": [
    {
      "createdAt": "2023-07-28T22:09:42.733Z",
      "updatedAt": "2023-07-28T22:09:42.733Z",
      "id": "2",
      "name": "CHATWOOT"
    },
    {
      "createdAt": "2023-07-29T07:22:53.190Z",
      "updatedAt": "2023-07-29T07:22:53.190Z",
      "id": "5",
      "name": "CWmkt"
    }
  ]
}